# Codigo compilado #
####################
*.dll
*.pdb
*.bin

# Archivos de configuracion personales #
########################################
*.suo
*.user

# Archivos del SO #
###################
.DS_Store
Thumbs.db

# Carpetas #
############
_ReSharper.CodingDojo/
_ReSharper.Tests/
obj/
bin/
Debug/